@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  cursor: url('./assets/cursor2.gif')16 16, auto;
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; /* or any background color that fits your design */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other elements */
  opacity: 1;
  transition: opacity 1s ease-out;
}

#preloader.fade-out {
  opacity: 0;
}

#preloader img {
  width: 300px; /* Adjust the size as needed */
  height: 300px;
}

.content {
  display: none; /* Hide the content initially */
}

.video {
  position: absolute;
  width: 98.7vw;
  height: 100vh;
  background-color: black;
  z-index: 10;
  overflow: hidden;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*SKIP BUTTON*/

#skipBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f57c00;
  border: none;
  border-radius: 5px;
  /* cursor: pointer; */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skipBtn:hover {
  background-color: #ef6c00;
  transform: scale(1.1);
}

#skipBtn:focus {
  outline: none;
}

#skipBtn::before {
  content: "▶️";
  margin-right: 8px;
  animation: rotateSymbol 2s linear infinite;
}

/*SKIP BUTTON*/

/*NAVBAR*/

.navigation .navbar {
  background-image: linear-gradient(to left, #ffa500, #f6cf42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.navbar .logo img {
  width: 7vw;
  height: auto;
}

.navbar .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
}

.nav-item {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  transition: all 0.5s ease;
  perspective: 1000px; /* Needed for 3D effects */
}

.nav-item:hover {
  scale: 1.1;
  color: #ff5a1e;
}

.navbar .searchbar {
  width: 25vw;
  height: 2vw;
  background: #ffc87c78;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  color: #333333a1;
}

.navbar .icons {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.icons img {
  width: 1.5vw;
  height: auto;
}

/*NAVBAR*/

/* HERO */

.hero {
  background-image: linear-gradient(to left, #ffa500, #f6cf42);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  overflow: hidden;
}

.hero-content {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  margin-top: -2vw;
}

.left .floating-text {
  position: absolute;
  top: 10%;
  left: 2%;
  font-size: 8vw;
  color: #33333318;
  margin-bottom: 2vw;
  font-weight: 900;
}

.left .main-content img {
  margin-top: -2vw;
  margin-left: 5vw;
  width: 30vw;
  height: auto;
}

.left button {
  margin-left: 8vw;
  width: 10vw;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff156;
  font-weight: 700;
  background-color: #f57c00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: -3vw;
}

.left button:hover {
  background-color: #fff156;
  color: #f57c00;
}

.left p {
  margin-left: 8vw;
  font-size: 1.5vw;
  margin-top: 1vw;
  color: #161616a1;
  font-weight: 700;
}

.right {
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30vw;
}

.right .dot {
  position: absolute;
  width: 35vw;
  top: 20%;
}

.combo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10vw;
}

.combo img {
  position: absolute;
  transition: all 0.5s ease;
}

.combo img:hover {
  transform: translateY(-25%);
}

.combo img:nth-child(1) {
  top: 12%;
  right: 20%;
}

.combo img:nth-child(2) {
  top: 17%;
  right: 15%;
}

.combo img:nth-child(3) {
  top: 22%;
  right: 10%;
}

.combo img:nth-child(4) {
  top: 27%;
  right: 5%;
}
/* HERO */

/* HERO-FOOTER */

.hero-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vw;
  background-color: #101010;
  color: white;
}

.hero-footer marquee {
  font-size: 16px;
  font-weight: 700;
}

.marquee-container {
  position: relative;
  overflow: hidden;
}

.marquee-container::before,
.marquee-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 2;
  pointer-events: none;
}

.marquee-container::before {
  left: 0;
  background: linear-gradient(to right, #101010, transparent);
}

.marquee-container::after {
  right: 0;
  background: linear-gradient(to left, #101010, transparent);
}

.hero-footer button {
  padding: 5px 10px;
  width: 15vw;
  margin-right: 2vw;
  font-size: 16px;
  color: #fff;
  background-color: #fb330b;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.hero-footer button:hover {
  background-color: #fff;
  color: #fb330b;
}

/* HERO-FOOTER */

/* CATEGORIES */

.categories h1 {
  font-size: 36px;
  font-weight: 700;
  margin-left: 2vw;
  margin-top: 2vw;
}

.categories .underline {
  width: 25vw;
  height: 5px;
  background: #ff670e;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.container {
  display: flex;
  max-width: 95vw;
  gap: 10px;
  margin-left: 2vw;
}

#item1 {
  width: 35%;
  height: 30vw;
  background-image: url(./assets/sweets.jpg);
  background-position: center;
}
#item2 {
  width: 50%;
  height: 30vw;
  background-image: url(./assets/namkeen.jpg);
  background-position: center;
  background-size: cover;
}
#item3 {
  width: 25%;
  height: 30vw;
  background-image: url(./assets/beverages.jpg);
  background-position: center;
}
#item4 {
  width: 40%;
  height: 30vw;
  background-image: url(./assets/cookies.jpg);
}
#item5 {
  width: 25%;
  height: 30vw;
  background-image: url(/assets/ready\ to\ eat.jpg);
  background-position: center;
}
#item6 {
  width: 35%;
  height: 30vw;
  background-image: url(./assets/gifting.jpg);
  background-position: center;
}

.item img {
  width: 100%;
  display: block;
}

.margin {
  margin-top: 0.7vw;
}

.item {
  position: relative;
  overflow: hidden; /* Ensure the overflow from overlay is hidden */
}

.overlay {
  background-color: #101010d1;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: opacity 0.75s ease-in-out, visibility 0s 1s,
    transform 0.75s ease-in-out;
}

.item:hover .overlay {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
}

.overlay .text {
  font-size: 1.5em;
}

.overlay button {
  background: red;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

/* CATEGORIES */

/* PRODUCT */

.product-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  gap: 20px;
}
.category {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: gray;
  position: relative;
}
.category::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: yellow;
}
.category.best-sellers::after {
  right: 0;
}
.category.premium::after {
  left: 0;
}
.product {
  width: 100%;
  padding-top: 150%;
  background-color: #ddd;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row {
  display: flex;
  gap: 20px;
}
@media (max-width: 1024px) {
  .product-layout {
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  }
}
@media (max-width: 768px) {
  .product-layout {
    grid-template-columns: 1fr;
  }
  .products {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product {
    padding-top: 100%;
  }
  .category {
    writing-mode: horizontal-tb;
    text-align: center;
  }
  .category::after {
    width: 100%;
    height: 2px;
  }
  .category.best-sellers::after {
    bottom: 0;
    right: auto;
  }
  .category.premium::after {
    top: 0;
    left: auto;
  }
}

/* PRODUCT */
.specials{
  /* background: #101010; */
   background: linear-gradient(to right, #afe5f5, #068ff8);
   padding-bottom: 20px;
}
.scrolling-container1 {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.scrolling-content1 {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.card {
  width: 200px;
  height: 300px;
  background-color: #ccc;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  
}
:hover .card{
  transform: scale(1.0);
  transition: all 0.5s;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.arrivals{
  /* background: #101010; */
   background: linear-gradient(to left, #f8c7ee, #fa1ffe);
   padding-bottom: 20px ;
}


.scrolling-content2 {
  display: flex;
  width: max-content;
  animation: scroll-left 5s linear infinite;
}




@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

